*{
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

header{
    display: flex;
    background-color: lightpink;
    justify-content: center;
    align-items: flex-start;
    height: 5vh;
    margin-block-end: 2rem;
}

header h1{
   margin: 0;
}

.user-msg{
    position: fixed;
    background-color: lightpink;
    border-radius: 10px;
    opacity: 0;
    transition:opacity 0.5s ease-in-out;
}

.hidden{
    display: none;
}

.user-msg.show{
    opacity: 1;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    border: 5px solid black;
}

thead th{ 
    background-color: lightslategray;
    text-align: center;
}

th, td{
    border: 1px solid black;
    padding: 12px 16px;
    text-align: left;
}

button.btn{
    padding: 6px 12px;
    margin: 0 2px;
    border: none;
    color: aliceblue;
    border-radius: 12px;
    cursor: pointer;
}

button.read{
    background-color: lightskyblue;
}

button.update{
    background-color: lightsalmon;
}

button.delete{
    background-color: lightcoral;
}

button.add{
    background-color: lightseagreen;
}

.display{
    display: none;
    position: absolute;
    left: 20%;
    top: 20%;
    overflow: auto;
    background-color: lightpink;
}

.display-content{
    background-color: lightpink;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    position: relative;
    text-align: center;
}

button.close{
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 22px;
    background-color: black;
}

button.search{
    color: black;
}

input{
  margin: 0.4rem 0;
  border-radius: 12px;
}
